// Place all the styles related to the api/battles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.battle-sidebar {
    border: 1px black solid;
    width: 20%;
}

.battle-sidebar-list {
    display: flex;
    flex-direction: column;
}