// Place all the styles related to the api/battles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.battle-sidebar-outer-container {
    border: 1px black solid;
    max-width: 400px;
    width: 20%;
    height: 100vh;
    background: rgb(25, 23, 29);
    padding-top: 20px;
}

.sidebar-title {
    color: rgb(154,154,157);
    padding-left: 20px;
    margin-bottom: 10px;
}

.battle-sidebar-list {
    display: flex;
    flex-direction: column;
    color: rgb(154,154,157);
}

.battle-container {
    padding-left: 20px;
    color: rgb(154,154,157);
    margin-bottom: 20px;
}

.battle-container h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.battle-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-right: 20px;
}

.sidebar-show-container {
    display: flex;
}

.battle-show-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Battle Form

.battle-form {
    padding-left: 20px;
    color: rgb(154,154,157);
    margin-bottom: 20px;
}

.battle-form h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

